# Optional per-user config goes into user.bazelrc, which is .gitignore-ed.
try-import user.bazelrc

# Use C++17.
build --cxxopt=-std=c++17
build --host_cxxopt=-std=c++17

# Use Clang.
build --action_env=CC=clang
build --action_env=CXX=clang++

# Use Bzlmod (`MODULE.bazel`) and `WORKSPACE.bzlmod`.
# TODO - Disable workspace once all dependencies are migrated to bzlmod.
common --enable_bzlmod
common --enable_workspace
