# Optional per-user config goes into user.bazelrc, which is .gitignore-ed.
try-import user.bazelrc

# Use C++17.
build --cxxopt='-std=c++17' --host_cxxopt='-std=c++17'

# Use disk cache.
build --disk_cache=~/.cache/bazel

# Disable unhelpful warnings.
build --copt='-Wno-sign-compare' --host_copt='-Wno-sign-compare'