name: "native build & test"

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    # Run daily at 00:00 (https://crontab.guru/#0_0_*_*_*).
    - cron: "0 0 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      BAZEL: bazelisk-linux-amd64
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    
    - name: Mount bazel cache
      uses: actions/cache@v2
      with:
        path: "~/.cache/bazel"  # See https://docs.bazel.build/versions/master/output_directories.html
        key: bazel

    - name: Install bazelisk
      run: |
        curl -LO "https://github.com/bazelbuild/bazelisk/releases/download/v1.4.0/$BAZEL"
        chmod +x $BAZEL

    - name: Build
      run: ./$BAZEL build //p4_constraints/...

    - name: Unit test
      run: ./$BAZEL test //p4_constraints/... --test_output=errors

    - name: Install & build gold test dependencies (p4c)
      run: |
        sudo apt-get update
        sudo apt-get install bison flex libfl-dev libgmp-dev
        bazel build //e2e-test/...

    - name: Gold test
      run: ./$BAZEL test //e2e-test/... --test_output=errors

    - name: Sanity check  # This step should be subsumed by the previous steps.
      run: ./$BAZEL build //... && ./$BAZEL test //...
